*.pyc
*~
__pycache__/
db.sqlite3
/static
.DS_Store
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.db
*.sql
*.pem
*.key
*.ini
*.info
*.egg
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.profile
.python-version
celerybeat-schedule
celerybeat.pid
